.project
.pydevproject
commands.txt
*.pyc
.DS_Store
rdf/
datasets/
bin/
lib/
local/
scr/iribaker
*.ttl
*.nq
*.csv
*.json
sdh-private-dwarsliggers
sdh-public-datasets
src/iribaker-master
include/
.settings
.Python
