.project
.pydevproject
commands.txt
*.pyc
.DS_Store
rdf/
datasets/
bin/
lib/
docs/
man/
local/
scr/iribaker
*.ttl
*.nq
sdh-private-dwarsliggers
sdh-public-datasets
sdh-private-hisco-datasets
src/iribaker-master
include/
.settings
.Python
hisco_job_local.sh
TopBraid
.metadata

src/iribaker/
