/cow_csvw.egg-info/
*.json*
*.bak
*.csv
*.zip
*.gz
.project
.pydevproject
commands.txt
*.pyc
.DS_Store
rdf/
datasets/
bin/
lib/
man/
local/
scr/iribaker
*.ttl
*.nq
sdh-private-dwarsliggers
sdh-public-datasets
sdh-private-hisco-datasets
sdh-private-hsn
src/iribaker-master
include/
.settings
.Python
hisco_job_local.sh
TopBraid
.metadata
docs/_build
src/iribaker/
pip-selfcheck.json
iribaker
.vscode
myvnenv/

