Jinja2==2.8
Js2Py==0.31
MarkupSafe==0.23
PyYAML==3.11
SPARQLWrapper==1.7.2
Werkzeug==0.11.2
beautifulsoup4==4.4.1
html5lib==0.999999
-e git://github.com/CLARIAH-SDH/iribaker.git@7adfa027662355560f798355ec950f94b5af3018#egg=iribaker-master
isodate==0.5.4
keepalive==0.5
language-tags==0.4.1
nose==1.3.7
nosetests-json-extended==0.1.0
pyparsing==2.0.5
pytz==2015.7
rdflib==4.2.1
rdflib-jsonld==0.3
regex==2015.06.24
requests==2.8.1
rfc3987==1.3.4
simplejson==3.8.1
six==1.10.0
tzlocal==1.2
uritemplate==0.6
wheel==0.26.0
wsgiref==0.1.2
