alabaster==0.7.9
appdirs==1.4.3
argh==0.26.2
Babel==2.3.4
backports-abc==0.5
beautifulsoup4==4.4.1
certifi==2016.9.26
chardet==2.3.0
docutils==0.12
html5lib==0.999999999
imagesize==0.7.1
iribaker==0.1.2
isodate==0.5.4
Jinja2==2.8
Js2Py==0.31
keepalive==0.5
language-tags==0.4.1
livereload==2.5.0
MarkupSafe==0.23
nose==1.3.7
nosetests-json-extended==0.1.0
numpy==1.11.2
packaging==16.8
pandas==0.19.1
pathtools==0.1.2
port-for==0.3.1
Pygments==2.1.3
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2015.7
PyYAML==3.11
rdflib==4.2.2
rdflib-jsonld==0.4.0
regex==2015.6.24
requests==2.8.1
rfc3987==1.3.4
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
SPARQLWrapper==1.7.6
Sphinx==1.4.8
sphinx-autobuild==0.6.0
tornado==4.4.2
travis==0.0.2
tzlocal==1.2
unicodecsv==0.14.1
uritemplate==0.6
watchdog==0.8.3
webencodings==0.5
Werkzeug==0.11.2
xlrd==1.0.0
